body{
    font-family: 'Lato';
    font-size: 100%; /* displaying font size in percents and em displays the same size in all browsers and allows them to resize them*/
    padding: 0;/* following two lines removes white on all sides of website*/
    margin: 0;
}

/* Global */

.container{
    width: 95%;
    margin: auto; /* automatically centers elements within their container */
}

ul{ /* removes the padding for all unordered lists*/
    margin: 0;
    padding: 0;
}

/* Header */
header{
    padding-top: 30px;
    min-height: 60px;
    border-bottom: #ED5144 3px solid;
}

header .branding{
    float: left;
    text-transform: uppercase;
    color: #484d56;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
}

header li{
    float: left;
    display: inline;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
}

header nav{
    float: right;
    margin: 35px 0 35px 0;
}

/* Product Section */
.product{
    width: 86.125%
    padding: 0 7%;
    display: table;
    height: 78vh;
    margin: 0;
    max-width: none;
}

.jar{
    height: 266px;
    width: 291px;

}
.information{
float: right;
}

.fromBees{
    text-transform: uppercase;
    border-bottom: #ED5144 3px solid /* border bottom's length is the same as the div's width it's contained within*/
    width: 12.5%; /* this is why you need to modify the div's width so you get the length that you want */

}

.fromBees, .description, .deliveryType {
    color: #70727a;
}

.honeyType{
    font-size: 3em;
}

.price{
    color: #ED5144;
    font-size: 2em;
}

.add-to-cart{
    text-transform: uppercase;
    background-color: #ED5144;
    border: none;/* buttons come with a border by default*/
    color: white;
    text-align: center;
}
