body{
    font-family: 'Lato';
    font-size: 100%; /* displaying font size in percents and em displays the same size in all browsers and allows them to resize them*/
    /*padding: 0;/* following two lines removes white on all sides of website*/
    /*margin: 0;*/
    max-width: 95%;
    letter-spacing: 2px;/*spacing between leters*/
}

/* Global */

.container{
    width: 100%;
    margin: auto; /* automatically centers elements within their container */
}

ul{ /* removes the padding for all unordered lists*/
    margin: 0;
    padding: 0;
}

p{
    line-height: 2em;
}
/* Header */
header{
    padding-top: 30px;
    min-height: 60px;
    border-bottom: #ED5144 3px solid;
}

header .branding{
    float: left;
    text-transform: uppercase;
    color: #484d56;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
}

header li{
    float: left;
    display: inline;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
}

header nav{
    float: right;
    margin: 35px 0 35px 0;
}

/* Product Section */
.product-content-boxes{
    width: 86.125%
    padding: 0 7%;
    display: table;
    height: 78vh;
    margin: 0;
    margin-top: 7%;
    max-width: none;
}

.product-content-box{
    float: left;
    width: 45%;
    padding: 10px;
}
.section-image{
    height: 75%;
    width: 75%;
    /*height: 532px;
    width: 582px;
    /*margin-left: 30%;*/
}

.from-bees{
    text-transform: uppercase;
    border-bottom: #ED5144 3px solid; /* border bottom's length is the same as the div's width it's contained within*/
    width: 22%;
    margin: 0;
    /*width: 8%; /* this is why you need to modify the div's width so you get the length that you want */
}

.from-bees, .description, .delivery-type {
    color: #70727a;
}

.honey-type{
    font-size: 3em;
    height: 10%;
    margin: 0;
}

.price{
    color: #ED5144;
    font-size: 2em;
    margin: 0
}

.add-to-cart{
    text-transform: uppercase;
    background-color: #ED5144;
    border: none;/* buttons come with a border by default*/
    color: white;
    padding: 16px 73px;
    text-align: center;
    font-size: 1em;
    /*font-size: 1.5em;*/
    letter-spacing: 2px;
}

.vertical-sidebar{
    transform: rotate(90deg);

}

.vertical-sidebar li{
    display: inline;
    padding: 0px 20px 0px 20px;
}
